<div class="container">
    <h3>All Patients:</h3>

    <div *ngIf="error">
        <div class="alert alert-danger">
            Operation Failed!
            <br/>
            <p>{{ error }}</p>
        </div>
    </div>

    <table class="table" *ngIf="patients?.length">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col" class="text-center">Nurses</th>
            <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of patients">
            <th scope="row">
                <a [routerLink]="['/biometrics', p.id]">
                    {{ p.firstName }} {{ p.lastName }}
                </a>
            </th>
            <td><span>{{ p.email }}</span></td>
            <td><span>{{ p.address}}</span></td>
            <td class="text-center"><span>{{ p.nurses?.length || '-' }}</span></td>
            <td class="text-center">
                <button *ngIf="!isPatientTaken(p)" class="btn btn-success" (click)="registerPatient(p.id)">
                    Register
                </button>
                <button *ngIf="isPatientTaken(p)" class="btn btn-danger" (click)="unregisterPatient(p.id)">
                    Unregister
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="!patients">
        Retrieving info...
    </div>

</div>
