<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is the best CMS (Course Management System)</p>
        <hr class="my-4">

        <div class="text-center">
            <img src="assets/images/tux-nerd.png" height="200" alt="Tux the Nerd">
        </div>
        <p>
            A learning management system (LMS) is a software application for the administration, documentation,
            tracking, reporting and delivery of educational courses or training programs.[1] They help the instructor
            deliver material to the students, administer tests and other assignments, track student progress, and manage
            record-keeping.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" routerLink="/courses">See available courses</a>
        </p>
    </div>
</div>
