<div class="container">
    <div class="row" *ngIf="patient">
        <div class="col-md-12">
            <h4>Patient:</h4>
            <div *ngIf="patient" class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ patient.firstName }} {{ patient.lastName }}
                        <code>({{ patient.id }})</code>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ patient.email }}</h6>
                    <p class="card-text">Address: {{ patient.address }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="isCurrentUserNurse && patient">
        <div class="col-md-12">
            <h4>Post Daily Tip:</h4>
            <app-add-daily-tip [patientId]="patient.id"></app-add-daily-tip>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="patient">
        <div class="col-md-12">
            <h4>Post Biometrics:</h4>
            <app-add-biometrics [patientId]="patient.id"
                                (biometricsPosted)="addNewBiometrics($event)"></app-add-biometrics>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="biometricsList?.length">
        <div class="col-md-12">
            <h4>Previous Biometrics:</h4>
            <app-biometrics-list [biometricsList]="biometricsList"></app-biometrics-list>
        </div>
    </div>
</div>
