<div class="sidenav">
        
    <a class="navbar-brand js-scroll-trigger" routerLink="/home">MyClinic 
              </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div  id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li *ngIf="user?.role === 'nurse'" class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="/nurse" routerLinkActive="active">
                    Nurse Dashboard
                </a>
            </li>
            <li *ngIf="user?.role === 'patient'" class="nav-item">
                <a class="nav-link font-weight-bold" routerLink="/patient" routerLinkActive="active">
                   Patient Dashboard
                </a>
            </li>
            <li *ngIf="user?.role === 'patient'" class="nav-item">
                <a class="nav-link font-weight-bold" [routerLink]="['/biometrics', user.id]" routerLinkActive="active">
                     My Information
                </a>
            </li>
            
        </ul>

        <div>
            <div *ngIf="user">
                <a class="nav-link font-weight-bold" routerLink="/profile" routerLinkActive="active">
                    Profile
                </a>
                <button role="button" class="btn btn-outline-warning" (click)="logout()">
                    Logout
                </button>
            </div>

            <div *ngIf="!user">
                <a  class="nav-link font-weight-bold" routerLink="/login" routerLinkActive="active">
                    Login
                </a>
                <a  class="nav-link font-weight-bold" routerLink="/register" routerLinkActive="active">
                    Register
                </a>
            </div>

        </div>

    </div>
</div>
