<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">
        
        MyClinic
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">
                     Home
                </a>
            </li>
            <li *ngIf="user?.role === 'nurse'" class="nav-item">
                <a class="nav-link" routerLink="/nurse" routerLinkActive="active">
                    Nurse Dashboard
                </a>
            </li>
            <li *ngIf="user?.role === 'patient'" class="nav-item">
                <a class="nav-link" routerLink="/patient" routerLinkActive="active">
                   Patient Dashboard
                </a>
            </li>
            <li *ngIf="user?.role === 'patient'" class="nav-item">
                <a class="nav-link" [routerLink]="['/biometrics', user.id]" routerLinkActive="active">
                     My Information
                </a>
            </li>
            
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <div *ngIf="user">
                <a role="button" class="btn btn-outline-dark" routerLink="/profile" routerLinkActive="active">
                    <i class="fa fa-user-circle"></i>
                    Profile
                </a>
                <button role="button" class="btn btn-outline-warning" (click)="logout()">
                    Logout
                </button>
            </div>

            <div *ngIf="!user">
                <a role="button" class="btn btn-outline-info" routerLink="/login" routerLinkActive="active">
                    Login
                </a>
                <a role="button" class="btn btn-outline-success" routerLink="/register" routerLinkActive="active">
                    Register
                </a>
            </div>

        </form>

    </div>
</nav>
