<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Centennial Clinic!</h1>
        <p class="lead">A family of hospitals for your family</p>
        <hr class="my-4">

        <div class="text-center">
            <img src="assets/images/bear.png" height="300" alt="Doctor Bear">
        </div>
        <p>
            A clinic is a healthcare facility that is primarily focused
            on the care of outpatients. Clinics can be privately operated or publicly managed and funded. They typically
            cover the primary healthcare needs of populations in local communities, in contrast to larger hospitals
            which offer specialised treatments and admit inpatients for overnight stays.
        </p>
    </div>
</div>
