<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">MyClinic</h1>
        <p class="lead">Localized Networking App for Clinics and Hospitals</p>
        <hr class="my-4">

        <div class="text-center">
            <img src="assets/images/doctor.jpg" height="300" alt="My Doctor">
        </div>
        <br>
        <hr class="my-4">
        <p class="lead">
            MyClinic is used in our various Clinics and Hospitals across Ontario, to help patients and nurses connect after stays or visits.
            Nurses can monitor patients during the first weeks of their release form the clinic.
            Patients can monitor ther own daily activites as well.
            To begin please Log In or Register if you are a new user. 
        </p>
    </div>
</div>
