<div class="row text-center">
    <div class="alert alert-danger" *ngIf="error">
        Operation Failed!
        <br/>
        <p> {{ error }} </p>
    </div>
</div>

<div *ngIf="course">
    <h3>Course <code>{{ course.id }}</code></h3>

    <form #editCourseForm="ngForm" (submit)="updateCourse(editCourseForm)">
        <div class="form-row align-items-center">
            <div class="form-group col-md-2">
                <label for="code" class="sr-only">Code</label>
                <input type="text" class="form-control" id="code" name="code" placeholder="Code e.g. COMP 308"
                       required [(ngModel)]="course.code">
            </div>
            <div class="form-group col-md-5">
                <label for="name" class="sr-only">Name</label>
                <input type="text" class="form-control" id="name" name="name"
                       required placeholder="Name e.g. Emerging Technologies" [(ngModel)]="course.name">
            </div>
            <div class="form-group col-md-2">
                <label for="section" class="sr-only">Section</label>
                <input type="text" class="form-control" id="section" name="section" placeholder="Section e.g. 003"
                       required [(ngModel)]="course.section">
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-dark"
                        [disabled]="isSending || editCourseForm.form.pristine || editCourseForm.form.invalid">
                    <i class="fa fa-edit"></i>
                    Edit
                </button>
            </div>
            <div class="form-group col-md-1" *ngIf="addDropData">
                <button [ngClass]="addDropData.css" [disabled]="isSending" (click)="addDropCourse()">
                    <i [ngClass]="addDropData.icon"></i>
                    {{ addDropData.title }}
                </button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-danger" [disabled]="isSending" (click)="deleteCourse()">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="enrolledStudents">
    <div *ngIf="enrolledStudents.length">
        <h4>Students enrolled in this course:</h4>
        <app-students-list [students]="enrolledStudents"></app-students-list>
    </div>
    <div *ngIf="!enrolledStudents.length">
        <h5><em>No student in this course</em></h5>
    </div>
</div>
