<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4>Hi {{ patient?.firstName }}</h4>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" (click)="sendEmergencyAlert($event)">Send Emergency Alert</button>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h4>Predictions:</h4>
            <app-prediction></app-prediction>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row" *ngIf="dailyTips?.length">
        <div class="col-md-12">
            <h4>Daily Tips:</h4>
            <div class="card" *ngFor="let tip of dailyTips" style="margin: .3em auto;">
                <div class="card-body">
                    <h5 class="card-title">{{ tip.text }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        posted at {{ tip.postedAt | date:'EEEE, MMM d, y, h:mm a'}}
                    </h6>
                    <p class="card-text"></p>
                    <a *ngIf="tip.link?.length" [href]="tip.link" class="card-link">Link</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
