<div class="mx-auto mt-5 p-3 border rounded col-xs-10 col-sm-8 col-md-6 col-lg-4 col-xl-4">
<form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="e.g. John" formControlName="firstName">
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="e.g. Smith" formControlName="lastName">
        </div>
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="e.g. john.smith@example.com"
                   formControlName="email">
        </div>
    </div>

    <div class="form-row" formGroupName="passwords">
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="form-group col-md-6">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="role">Role</label>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="role_patient" value="patient" formControlName="role">
                <label class="custom-control-label" for="role_patient">Patient</label>
            </div>
            <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="role_nurse" value="nurse" formControlName="role">
                <label class="custom-control-label" for="role_nurse">Nurse</label>
            </div>
        </div>
        <div class="form-group col-md-8">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="e.g. 123 Main St."
                   formControlName="address">
        </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-8">
                <button type="submit" class="btn btn-outline-success pull-right"
                    [disabled]="isSending || registrationForm.pristine || registrationForm.invalid">
                    <i class="fa fa-user-plus"></i>
                    Register
                </button>
            </div>
    </div>
</form>


<div class="row text-center">
    
    <div class="alert alert-danger" *ngIf="error">
        Operation Failed!
        <br/>
        <p> {{ error }} </p>
    </div>
</div>
</div>